@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.body_default {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: #0a4c35 !important;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.navbar-brand:hover {
    color: #1abc9c;
}

.navbar {
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 0;
}

.d-flex {
    gap: 30px;
}

.navbar_icons {
	width: 30px;
	height: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar_icons:hover {
	width: 32px;
	height: 32px;
}

.nav-link {
    text-decoration: none;
    color: #0a4c35;
    font-weight: 600;
    font-size: 16px;
    margin-left: 20px;
    transition: color 0.3s ease;
    font-family: 'Raleway', sans-serif;
}

.nav-link:hover {
    color: #1abc9c;
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
}

.wrapper .title {
    height: 100px;
    background: var(--secondary-color);
    border-radius: 5px 5px 0 0;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
