@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  background-color : #f1efe9;
  margin-left : 5%;
  margin-right : 5%;
  position : center;
  font-family : Aeonik;
}

.title-head {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-top : 10px;
  background-color : #acb3ab;
  padding-bottom : 20px;
}

#born2beroot {
  padding: 30px 0 8px;
  position: relative;
  color: #fff8e9;
  padding : 10px;
  margin-left : 25%;
  margin-right : 25%;
  text-align :center;
}
#born2beroot::after { 
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  background: none repeat scroll 0 0 transparent;
  height: 1px;
  width: 0;
  background: #fff8e9;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
#born2beroot:hover::after { 
  width: 100%; 
  left: 0; 
}

#table-div {
  padding : 10px;
  margin-left : 10%;
  margin-right : 10%;
  background-color : #c0c7bf;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#table-of-contents {
  color: #fff8e9;
  text-align : center;
}

#sun {
  color :#9f7b43d9;
  font-size : 15px;
}

ul {
  list-style : none;
  margin-left : 5%;
  padding-top : 5px;
  padding-bottom : 5px;
}

.titles {
  color : #7f856f;
  position: relative;
  text-decoration: none;
  font-size : 20px;
}
.titles::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #7f856f ;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
.titles:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.sep {
  color : #d5af75;
  text-align : center;
  height : 15px;
  letter-spacing: 20px;
  font-size : 30px;
  line-height: 0px;
}

.part {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-top : 10px;
  background-color : #acb3ab;
  padding-bottom : 20px;
}

.title-part {
  color : #e4ece3;
  position: relative;
  text-align : center;
  font-size : 30px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}
.title-part::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #e4ece3 ;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }
.title-part:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.subtitles {
  color : white;
  position : relative;
  text-align : center;
  font-size : 25px;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  border : 1px solid white;
  padding : 15px;
}

.doing-it {
  color : #515b4f;
  display: block ruby;
}
.arrow {
  margin: auto;
  display: block;
  width: auto;
}

.img-centered {
  margin: auto;
  display: block;
  width: 60%;
  padding : 10px;
  margin-top : 5px;
  margin-bottom : 15px;
  border : 2px dotted #d99631a3;
}

pre {
  background-color: #dae1d9d9;
  padding : 10px;
  padding-left: 25px;
  margin : 10px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

code {
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color : #9f492fdb;
}

.rule {
  margin : 20px;
  margin-left: auto;
  margin-right: auto;
  width: 79%;
  color: #c48f3cc7;
  font-size: 15px;
}

.question {
  color: #ac885b;
}